@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

@font-face {
	embed-as-cff: true;
	fontFamily: "LucidaCalligraphy";
	src: url("../../fonts/lcallig.ttf");
}

@font-face {
	embed-as-cff: true;
	fontFamily: "TimesNewRomanItalic";
	src: url("../../fonts/timesi.ttf");
}

.servingHeader {
	color: #FFFFFF;
	fontFamily: LucidaCalligraphy;
	fontLookup: embeddedCFF;
	fontSize: 15;
}

.footer {
	color: #FFFFFF;
	fontFamily: TimesNewRomanItalic;
	fontLookup: embeddedCFF;
	fontSize: 25;
}

.name {
	color: #FFFFFF;
	fontFamily: LucidaCalligraphy;
	fontLookup: embeddedCFF;
	fontSize: 25;
}

.serving {
	color: #FFFFFF;
	fontFamily: LucidaCalligraphy;
	fontLookup: embeddedCFF;
	fontSize: 15;
}

.description {
	color: #FFFFFF;
	fontFamily: TimesNewRomanItalic;
	fontLookup: embeddedCFF;
	fontSize: 20;
}

.price {
	color: #FFFFFF;
	fontFamily: TimesNewRomanItalic;
	fontLookup: embeddedCFF;
	fontSize: 14;
}