@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

@font-face {
	embed-as-cff: true;
	fontFamily: "MinionPro";
	src: url("../../fonts/minionpro-regular.otf");
}

@font-face {
	embed-as-cff: true;
	fontFamily: "MinionProBold";
	src: url("../../fonts/minionpro-bold.otf");
}

.h1 {
	color: #FFFFFF;
	fontFamily: MinionPro;
	fontLookup: embeddedCFF;
	fontSize: 30;
}

.reviewer {
	color: #FFFFFF;
	fontFamily: MinionProBold;
	fontLookup: embeddedCFF;
	fontSize: 20;
	fontWeight: bold;
}

.review {
	color: #FFFFFF;
	fontFamily: MinionPro;
	fontLookup: embeddedCFF;
	fontSize: 15;
}

.timestamp {
	color: #CCCCCC;
	fontFamily: MinionProBold;
	fontLookup: embeddedCFF;
	fontSize: 10;
}

.label {
	color: #FFFFFF;
	fontFamily: MinionPro;
	fontLookup: embeddedCFF;
	fontSize: 15;
	textAlign: right;
}

.input {
	color: #FFFFFF;
	contentBackgroundColor: #333333;
	fontFamily: MinionPro;
	fontLookup: embeddedCFF;
	fontSize: 15;
	textAlign: left;
}

.button {
	color: #FFFFFF;
	fontFamily: MinionPro;
	fontLookup: embeddedCFF;
}