@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

@font-face {
	embed-as-cff: true;
	fontFamily: "EdwardianScript";
	src: url("../assets/fonts/itcedscr.ttf");
}

.logo {
	color: #FFFFFF;
	fontFamily: EdwardianScript;
	fontLookup: embeddedCFF;
	fontSize: 69;
}