@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

@font-face {
	embed-as-cff: true;
	fontFamily: "FrenchScript";
	src: url("../../fonts/frscript.ttf");
}

@font-face {
	embed-as-cff: true;
	fontFamily: "EdwardianScript";
	src: url("../../fonts/itcedscr.ttf");
}

.logo {
	color: #FFFFFF;
	fontFamily: EdwardianScript;
	fontLookup: embeddedCFF;
	fontSize: 69;
}

.byTagline {
	color: #FFFFFF;
	fontFamily: FrenchScript;
	fontLookup: embeddedCFF;
	fontSize: 28;
}

.tagline {
	color: #FFFFFF;
	fontFamily: FrenchScript;
	fontLookup: embeddedCFF;
	fontSize: 40;
}

.taglineCapital {
	color: #FFFFFF;
	fontFamily: EdwardianScript;
	fontLookup: embeddedCFF;
	fontSize: 40;
}