@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

@font-face {
	embed-as-cff: true;
	fontFamily: "LucidaCalligraphy";
	src: url("../assets/fonts/lcallig.ttf");
}

.tagline {
	color: #FFFFFF;
	fontFamily: LucidaCalligraphy;
	fontLookup: embeddedCFF;
	fontSize: 25;
}