/**
 * General styles
 * -------------------------
*/

html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #141414;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
}

object:focus {
	outline: none;
}

img {
	border: none;
}

/**
 * Button styles
 * from Delfini UI
 * -------------------------
*/

button, input[type=submit], input[type=reset], input[type=button] {
	background-color: #CCCCCC;
	background: -moz-linear-gradient(0% 90% 90deg, #CCCCCC, #EEEEEE);
	background: -ms-linear-gradient(#EEEEEE, #CCCCCC);
	background: -o-linear-gradient(#EEEEEE, #CCCCCC);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#CCCCCC));
	background: -webkit-linear-gradient(#EEEEEE, #CCCCCC);
	background: linear-gradient(#EEEEEE, #CCCCCC);
	border: 1px solid #999999;
	border-radius: 2px;
	color: #333333;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#CCCCCC');
	font-size: 12px;
	font-weight: bolder;
	outline: none;
	padding: 5px 15px 5px 15px;
}

button:hover, input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover {
	background: -moz-linear-gradient(0% 90% 90deg, #CCCCCC, #FFFFFF);
	background: -ms-linear-gradient(#FFFFFF, #CCCCCC);
	background: -o-linear-gradient(#FFFFFF, #CCCCCC);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#CCCCCC));
	background: -webkit-linear-gradient(#FFFFFF, #CCCCCC);
	background: linear-gradient(#FFFFFF, #CCCCCC);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#CCCCCC');
}

button:active, input[type=submit]:active, input[type=reset]:active, input[type=button]:active {
	background: -moz-linear-gradient(0% 90% 90deg, #EEEEEE, #DDDDDD);
	background: -ms-linear-gradient(#DDDDDD, #EEEEEE);
	background: -o-linear-gradient(#DDDDDD, #EEEEEE);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDDDDD), to(#EEEEEE));
	background: -webkit-linear-gradient(#DDDDDD, #EEEEEE);
	background: linear-gradient(#DDDDDD, #EEEEEE);
	border: 1px solid #666666;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#EEEEEE');
}

/**
 * Default button style disabled, must support a disabled class
 * or look for a "disabled" attribute. There are two styles of
 * this attribute which must be noted, hence, the really long
 * CSS selectors:
 *  - <input type="button" disabled="disabled" />
 *  - <input type="button" disabled />
 * 
 * The :active psudeo selector will override the changing border 
 * which is established in the :active psudeo selector in the
 * non-disabled state.
*/

button.disabled, input[type=submit].disabled, input[type=reset].disabled, input[type=button].disabled, button[disabled=disabled], input[type=submit][disabled=disabled], input[type=reset][disabled=disabled], input[type=button][disabled=disabled], button[disabled], input[type=submit][disabled], input[type=reset][disabled], input[type=button][disabled]  {
	background: #EEEEEE;
	color: #AAAAAA;
}

button.disabled:active, input[type=submit].disabled:active, input[type=reset].disabled:active, input[type=button].disabled:active, button[disabled=disabled]:active, input[type=submit][disabled=disabled]:active, input[type=reset][disabled=disabled]:active, input[type=button][disabled=disabled]:active, button[disabled]:active, input[type=submit][disabled]:active, input[type=reset][disabled]:active, input[type=button][disabled]:active {
	border: 1px solid #999999;
}

/**
 * Header styles
 * -------------------------
*/

@font-face {
	font-family: LucidaCalligraphy;
	src: url('fonts/lcallig.ttf');
}

header {
	margin: 20px 17% 0px 17%;
}

header h1 {
	display: none;
}

header ul.contact {
	float: right;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

header ul.contact li {
	color: #FFFFFF;
	font-family: LucidaCalligraphy;
	padding-bottom: 7px;
}

header ul.contact li a, header ul.contact li a:hover, header ul.contact li a:active, header ul.contact li a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

/**
 * Main menu
 * -------------------------
*/

header nav.navigation {
	background: #333333;
	margin: 0px -25.7% 0px -25.7%;
}

header nav.navigation ul {
	list-style: none;
	margin: 20px 10% 0px 10%;
	padding: 10px 0px 10px 0px;
}

header nav.navigation ul li {
	display: inline;
	font-family: LucidaCalligraphy;
	margin-right: 20px;
	padding: 10px 0px 10px 0px;
}

header nav.navigation ul li:hover {
	background: url(../images/hover-light.png) no-repeat top center;
}

header nav.navigation ul li:last-child {
	padding-right: 0px;
}

header nav.navigation ul li a, header nav.navigation ul li a:hover, header nav.navigation ul li a:active, header nav.navigation ul li a:visited {
	color: #FFFFFF;
	padding: 10px 0px 10px 0px;
	text-decoration: none;
}

header nav.navigation ul li a.selected {
	background: url(../images/pointer.png) no-repeat bottom center;
}

/**
 * General main content
 * styles
 * -------------------------
*/

section.content {
	margin: 0px 10% 20px 10%;
}

section.content h2 {
	display: none;
}

/**
 * Home module
 * -------------------------
*/

section.content div.homeBanner {
	background-repeat: no-repeat;
	color: #FFFFFF;
	display: table;
	font-family: LucidaCalligraphy;
	font-size: 20px;
	height: 200px;
	margin: 20px auto 20px auto;
	width: 700px;
}

section.content div.homeBanner p {
	display: table-cell;
	max-width: 300px;
	text-align: center;
	vertical-align: middle;
	width: 300px;
}

section.content div.homeBanner.left p {
	padding-left: 400px;
}

section.content div.homeBanner.right {
	background-position: right;
}

section.content div.homeBanner.right p {
	padding-right: 400px;
}

/**
 * Food menu module
 * -------------------------
*/

section.content ul.foodMenu {
	color: #FFFFFF;
	font-family: LucidaCalligraphy;
	font-size: 20px;
	list-style: none;
	padding: 0px;
}

section.content ul.foodMenu li {
	clear: both;
	padding-bottom: 20px;
	position: relative;
}

section.content ul.foodMenu li span.price {
	font-size: 15px;
	left: -12%;
	position: absolute;
	top: 10px;
}

section.content ul.foodMenu li ul.variations {
	left: -12%;
	list-style: none;
	padding: 0px;
	position: absolute;
	top: 10px;
}

section.content ul.foodMenu li ul.variations li {
	padding: 0px;
}

section.content ul.foodMenu li ul.variations li.price {
	font-size: 15px;
}

section.content ul.foodMenu li ul.variations li.serves {
	font-size: 12px;
}

section.content ul.foodMenu li span.name {
	font-size: 25px;
}

section.content ul.foodMenu li span.tagline {
	font-size: 15px;
}

section.content ul.foodMenu li.icon span.name {
	background: url(../images/fleurDeLis.png) no-repeat top left;
	font-size: 25px;
	padding-left: 45px;
}

section.content ul.foodMenu li span.description {
	display: block;
	font-size: 15px;
	margin-top: 15px;
	padding: 0px 0px 25px 60px;
}

section.content ul.foodMenu li ul.details {
	clear: both;
	display: block;
	list-style: none;
	margin-top: 15px;
	overflow: auto;
	padding-left: 47px;
	width: 100%;
}

section.content ul.foodMenu li ul.details li {
	display: inline;
}

section.content ul.foodMenu li ul.details li img {
	float: left;
	padding-right: 15px;
}

section.content ul.foodMenu li ul.details li span.description {
	margin-top: 0px;
}

/**
 * Reviews module
 * -------------------------
*/

@font-face {
	font-family: MinionPro;
	src: url('fonts/minionpro-regular.otf');
}

@font-face {
	font-family: MinionProBold;
	src: url('fonts/minionpro-bold.otf');
}

@font-face {
	font-family: MinionProItalic;
	src: url('fonts/minionpro-it.otf');
}

section.content section.empty {
	background: url(../images/reviews.png) no-repeat;
	height: 76px;
	margin: 15px 20% 70px 20%;
	padding: 27px 0px 0px 100px;
	vertical-align: middle;
}

section.content section.empty p {
	color: #FFFFFF;
	font-family: MinionPro;
	margin: 0px;
}

section.content ul.reviews {
	color: #FFFFFF;
	list-style: none;
	padding-left: 0px;
}

section.content ul.reviews li {
	padding-bottom: 30px;
}

section.content ul.reviews li span.reviewer {
	font-family: MinionPro;
	font-size: 20px;
}

section.content ul.reviews li ul.rating {
	display: inline;
	font-size: 0px;
	list-style: none;
	padding-left: 0px;
}

section.content ul.reviews li ul.rating li {
	background: url(../images/cupcake.png) no-repeat;
	display: inline-block;
	height: 16px;
	margin: 0px;
	padding: 0px;
	width: 16px;
}

section.content ul.reviews li ul.rating li.selected {
	background-position: 0px -16px;
}

section.content ul.reviews li span.review {
	display: block;
	font-family: MinionPro;
	font-size: 15px;
	padding: 10px 0px 5px 25px;
}

section.content ul.reviews li span.date {
	color: #CCCCCC;
	display: block;
	font-family: MinionProBold;
	font-size: 10px;
	padding-left: 25px;
}

section.content h3.reviewTitle {
	color: #FFFFFF;
	font-family: MinionProItalic;
	font-size: 30px;
	font-weight: lighter;
}

section.content section.form label {
	color: #FFFFFF;
	display: inline-block;
	font-family: MinionPro;
	padding: 0px 0px 35px 5px;
	text-align: right;
	vertical-align: top;
	width: 75px;
}

section.content section.form input, section.content section.form textarea {
	background-color: #333333;
	border: 1px solid #696969;
	color: #FFFFFF;
	font-family: MinionPro;
	font-size: 15px;
}

section.content section.form ul.rating {
	display: inline;
	font-size: 0px;
	list-style: none;
	padding-left: 0px;
}

section.content section.form ul.rating li {
	background: url(../images/cupcake.png) no-repeat;
	display: inline-block;
	height: 16px;
	margin: 0px;
	padding: 0px;
	width: 16px;
}

section.content section.form ul.rating li.selected {
	background-position: 0px -16px;
}

section.content section.form textarea {
	height: 200px;
	width: 320px;
}

section.content section.form button.submit {
	margin: 35px 0px 0px 83px;
}