/**
 * General styles
 * -------------------------
*/

@font-face {
	font-family: LucidaCalligraphy;
	font-size: 15;
	src: url('fonts/lcallig.ttf');
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #141414;
	margin: 0;
	padding: 0;
	overflow: auto;
	text-align: center;
}

object:focus {
	outline: none;
}

img {
	border: none;
}

/**
 * Header styles
 * -------------------------
*/

header {
	margin: 20px 17% 0px 17%;
}

header h1 {
	display: none;
}

header ul.contact {
	float: right;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

header ul.contact li {
	color: #FFFFFF;
	font-family: LucidaCalligraphy;
	padding-bottom: 7px;
}

header ul.contact li a, header ul.contact li a:hover, header ul.contact li a:active, header ul.contact li a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

/**
 * Main menu
 * -------------------------
*/

header nav.navigation {
	background: #333333;
	margin: 0px -25.7% 0px -25.7%;
}

header nav.navigation ul {
	list-style: none;
	margin: 20px 10% 0px 10%;
	padding: 10px 0px 10px 0px;
}

header nav.navigation ul li {
	display: inline;
	font-family: LucidaCalligraphy;
	margin-right: 20px;
	padding: 10px 0px 10px 0px;
}

header nav.navigation ul li:hover {
	background: url(../images/hover-light.png) no-repeat top center;
}

header nav.navigation ul li:last-child {
	padding-right: 0px;
}

header nav.navigation ul li a, header nav.navigation ul li a:hover, header nav.navigation ul li a:active, header nav.navigation ul li a:visited {
	color: #FFFFFF;
	padding: 10px 0px 10px 0px;
	text-decoration: none;
}

header nav.navigation ul li a.selected {
	background: url(../images/pointer.png) no-repeat bottom center;
}

/**
 * General main content
 * styles
 * -------------------------
*/

section.content {
	margin: 0px 10% 0px 10%;
}

section.content h2 {
	display: none;
}

/**
 * Home module
 * -------------------------
*/

section.content div.homeBanner {
	background-repeat: no-repeat;
	color: #FFFFFF;
	display: table;
	font-family: LucidaCalligraphy;
	font-size: 20px;
	height: 200px;
	margin: 20px auto 20px auto;
	width: 700px;
}

section.content div.homeBanner p {
	display: table-cell;
	max-width: 300px;
	text-align: center;
	vertical-align: middle;
	width: 300px;
}

section.content div.homeBanner.left p {
	padding-left: 400px;
}

section.content div.homeBanner.right {
	background-position: right;
}

section.content div.homeBanner.right p {
	padding-right: 400px;
}

/**
 * Food menu module
 * -------------------------
*/

section.content ul.foodMenu {
	color: #FFFFFF;
	font-family: LucidaCalligraphy;
	font-size: 20px;
	list-style: none;
	padding: 0px;
}

section.content ul.foodMenu li {
	clear: both;
	padding-bottom: 45px;
	position: relative;
}

section.content ul.foodMenu li span.price {
	font-size: 15px;
	left: -12%;
	position: absolute;
	top: 10px;
}

section.content ul.foodMenu li span.name {
	font-size: 25px;
}

section.content ul.foodMenu li.icon span.name {
	background: url(../images/fleurDeLis.png) no-repeat top left;
	font-size: 25px;
	padding-left: 45px;
}

section.content ul.foodMenu li span.description {
	display: block;
	font-size: 20px;
	margin-top: 15px;
	padding-left: 60px;
}

section.content ul.foodMenu li ul {
	list-style: none;
	margin-top: 15px;
	padding-left: 47px;
}

section.content ul.foodMenu li ul li {
	display: inline-block;
}