/**
 * General styles
 * -------------------------
*/

footer {
	text-align: center;
}

footer ul {
	list-style: none;
	padding: 0px;
}

footer ul li {
	display: inline;
}

footer ul li:last-child {
	padding-left: 10px;
}

/**
 * Home module
 * -------------------------
*/

@font-face {
	font-family: LucidaCalligraphy;
	font-size: 15;
	src: url('fonts/lcallig.ttf');
}

section.content div.homeBanner {
	font-family: LucidaCalligraphy;
	text-align: center;
}

section.content div.homeBanner img {
	max-width: 100%;
	width: 300px;
}

/**
 * Food menu module
 * -------------------------
*/

section.content ul.foodMenu li a h3 {
	margin: 0px;
}

section.content ul.foodMenu li a p.description {
	overflow: hidden;
	padding-top: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

section.content ul.foodMenu li a p.price {
	font-weight: bold;
	margin: 0px;
	padding-top: 13px;
}

section.content ul.foodMenu li a img {
	padding: 5px 0px 0px 5px;
}