/**
 * General styles
 * -------------------------
*/

nav.mainMenu {
	padding-top: 15px;
}

footer {
	text-align: center;
}

footer ul {
	list-style: none;
	padding: 0px;
}

footer ul li {
	display: inline;
}

footer ul li:last-child {
	padding-left: 10px;
}

/**
 * Home module
 * -------------------------
*/

@font-face {
	font-family: LucidaCalligraphy;
	font-size: 15;
	src: url('fonts/lcallig.ttf');
}

section.content div.homeBanner {
	font-family: LucidaCalligraphy;
	text-align: center;
}

section.content div.homeBanner img {
	max-width: 100%;
	width: 300px;
}

/**
 * Food menu and entrees
 * modules
 * -------------------------
*/

section.content ul.foodMenu li a h3,
section.content ul.entrees li a h3 {
	margin: 0px;
}

section.content ul.entrees li a p.serving {
	font-weight: bold;
	line-height: 100%;
	margin: 0px;
}

section.content ul.foodMenu li a p.description {
	overflow: hidden;
	padding-top: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

section.content ul.entrees li a p.description {
	margin: 0px;
	overflow: hidden;
	padding-top: 25px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

section.content ul.foodMenu li a p.price {
	font-weight: bold;
	margin: 0px;
	padding-top: 13px;
}

section.content ul.entrees li a p.price {
	font-weight: bold;
	margin: 0px;
}

section.content ul.foodMenu li a img,
section.content ul.entrees li a img {
	padding: 5px 0px 0px 5px;
}

section.menuData h3,
section.entreeData h3 {
	margin: 0px;
}

section.entreeData p.serving {
	font-size: 12px;
	font-weight: bold;
	margin: 0px;
	padding-bottom: 10px;
}

section.menuData p.price,
section.entreeData p.price {
	font-size: 12px;
	font-weight: bold;
	margin: 0px 0px 7px 0px;
}

section.menuData p.variation {
	font-size: 12px;
	font-weight: bold;
	margin: 0px 0px 3px 0px;
}

section.menuData p.tagline {
	font-style: italic;
	margin: 0px;
}

section.menuData p.description,
section.sectionData p.description {
	margin: 15px 0px 0px 0px;
}

section.menuData ul,
section.entreeData ul {
	clear: both;
	display: block;
	list-style: none;
	margin: 0px;
	overflow: auto;
	padding: 0px;
	width: 100%;
}

section.menuData ul li,
section.entreeData ul li {
	display: inline;
}

section.menuData ul li:last-child,
section.entreeData ul li:last-child {
	padding-left: 15px;
}

section.menuData ul li img,
section.entreeData ul li img {
	float: left;
	max-height: 80px;
	max-width: 80px;
	padding: 0px 10px 10px 0px;
}

/**
 * Reviews module
 * -------------------------
*/

section.content section.empty {
	padding-bottom: 60px;
}

section.content section.empty p {
	background: url(../images/mobile/reviews.png) no-repeat top left;
	display: inline-block;
	height: 28px;
	line-height: 150%;
	margin: 0px;
	padding: 3px;
	text-indent: 40px;
}

section.content ul.reviews {
	list-style: none;
	padding-left: 0px;
}

section.content ul.reviews li {
	padding-bottom: 30px;
}

section.content ul.reviews li span.reviewer {
	font-size: 20px;
}

section.content ul.reviews li ul.rating {
	display: inline;
	font-size: 0px;
	list-style: none;
	padding-left: 0px;
}

section.content ul.reviews li ul.rating li {
	background: url(../images/cupcake.png) no-repeat;
	display: inline-block;
	height: 16px;
	margin: 0px;
	padding: 0px;
	width: 16px;
}

section.content ul.reviews li ul.rating li.selected {
	background-position: 0px -16px;
}

section.content ul.reviews li span.review {
	display: block;
	font-size: 15px;
	padding: 10px 0px 5px 25px;
}

section.content ul.reviews li span.date {
	color: #333333;
	display: block;
	font-size: 10px;
	padding-left: 25px;
}

section.content h3.reviewTitle {
	font-style: italic;
}

/**
 * Not found styles
 * -------------------------
*/

section.content section.notFound h3 {
	background: no-repeat top left;
	height: 32px;
	line-height: 160%;
	padding-left: 45px;
}

section.content section.notFound.crying h3 {
	background-image: url(../images/mobile/crying.png);
}

section.content section.notFound.shocked h3 {
	background-image: url(../images/mobile/shocked.png);
}

section.content section.notFound.surprised h3 {
	background-image: url(../images/mobile/surprised.png);
}